<header id="main-header" class="py-2 bg-primary text-white">
  <section class="container">
    <article class="row">
      <section class="col-md-6">
        <h1><i class="fas fa-user"></i> Editar Cliente</h1>
      </section>
    </article>
  </section>
</header>
<form #clienteForm="ngForm" (ngSubmit)="guardar(clienteForm)">
  <section id="actions" class="py-4 mb-4 bg-light">
    <section class="container">
      <article class="row">
        <section class="col-md-3 d-grid gap-2">
          <a routerLink="/" class="btn btn-light">
            <i class="fas fa-arrow-left"></i> Regresar al Inicio
          </a>
        </section>
        <section class="col-md-3 d-grid gap-2">
          <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i> Guardar Cliente
          </button>
        </section>
        <section class="col-md-3 d-grid gap-2">
          <a href="#" (click)="eliminar()" class="btn btn-danger">
            <i class="fas fa-trash"></i> Eliminar Cliente
          </a>
        </section>
      </article>
    </section>
  </section>
  <section id="details">
    <section class="container">
      <article class="row">
        <section class="col">
          <article class="card">
            <section class="card-header bg-dark text-white">
              <h4>Editar Cliente</h4>
            </section>
            <article class="card-body">
              <section class="form-group">
                <label for="nombre">Nombre:</label>
                <input
                  type="text"
                  name="nombre"
                  [(ngModel)]="cliente.nombre"
                  #nombre="ngModel"
                  [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }"
                  required
                  minlength="2"
                  class="form-control"
                />
                <section
                  [hidden]="!nombre.errors?.['required']"
                  class="invalid-feedback"
                >
                  Nombre requerido.
                </section>
                <section
                  [hidden]="!nombre.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe contener al menos 2 caracteres.
                </section>
              </section>
              <section class="form-group">
                <label for="apellido">Apellido:</label>
                <input
                  type="text"
                  name="apellido"
                  [(ngModel)]="cliente.apellido"
                  #apellido="ngModel"
                  [ngClass]="{
                    'is-invalid': apellido.errors && apellido.touched
                  }"
                  required
                  minlength="2"
                  class="form-control"
                />
                <section
                  [hidden]="!apellido.errors?.['required']"
                  class="invalid-feedback"
                >
                  Apellido requerido
                </section>
                <section
                  [hidden]="!apellido.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe contener al menos 2 caracteres.
                </section>
              </section>
              <section class="form-group">
                <label for="email">Email:</label>
                <input
                  type="email"
                  name="email"
                  [(ngModel)]="cliente.email"
                  #email="ngModel"
                  [ngClass]="{ 'is-invalid': email.errors && email.touched }"
                  required
                  pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$"
                  class="form-control"
                />
                <section
                  [hidden]="!email.errors?.['required']"
                  class="invalid-feedback"
                >
                  Email requerido
                </section>
                <section
                  [hidden]="!email.errors?.['pattern']"
                  class="invalid-feedback"
                >
                  Email no válido.
                </section>
              </section>
              <section class="form-group">
                <label for="saldo">Saldo:</label>
                <input
                  type="number"
                  name="saldo"
                  [(ngModel)]="cliente.saldo"
                  #saldo="ngModel"
                  [ngClass]="{ 'is-invalid': saldo.errors && saldo.touched }"
                  required
                  class="form-control"
                />
                <section
                  [hidden]="!saldo.errors?.['required']"
                  class="invalid-feedback"
                >
                  Saldo requerido
                </section>
              </section>
            </article>
          </article>
        </section>
      </article>
    </section>
  </section>
</form>
