<header id="main-header" class="py-2 bg-primary text-white">
  <section class="container">
    <article class="row">
      <section class="col-md-6">
        <h1><i class="fas fa-user"></i> Configuracion</h1>
      </section>
    </article>
  </section>
</header>

<section id="actions" class="py-4 mb-4 bg-light">
  <section class="container">
    <article class="row">
      <section class="col-md-3 d-grid gap-2">
        <a routerLink="/" class="btn btn-light">
          <i class="fas fa-arrow-left"></i> Regresar al Inicio
        </a>
      </section>
      <section class="col-md-3 d-grid gap-2">
        <button class="btn btn-success" type="submit" (click)="guardar()">
          <i class="fas fa-check"></i> Guardar Cambios
        </button>
      </section>
    </article>
  </section>
</section>

<section id="config">
  <section class="container">
    <article class="row">
      <section class="col">
        <section class="col">
          <article class="card">
            <section class="card-header">
              <h4>Editar Configuración</h4>
            </section>
            <section class="card-body">
              <fieldset class="form-group">
                <legend>Permitir Registro de Usuarios</legend>
                <section class="form-check">
                  <label for="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      name="permitirRegistro"
                      [(ngModel)]="permitirRegistro"
                      [checked]="permitirRegistro"
                    />
                    {{ permitirRegistro ? "Si" : "No" }}
                  </label>
                </section>
              </fieldset>
            </section>
          </article>
        </section>
      </section>
    </article>
  </section>
</section>
