<header id="main-header" class="py-2 bg-primary text-white">
  <section class="container">
    <article class="row">
      <section class="col-md-6">
        <h1><i class="fas fa-circle-minus"></i> No encontrado.</h1>
      </section>
    </article>
  </section>
</header>

<section id="actions" class="py-4 mb-4 bg-light">
  <section class="container">
    <article class="row">
      <section class="col-md-3 d-grid gap-2">
        <a routerLink="/" class="btn btn-light">
          <i class="fas fa-arrow-left"></i> Regresar al Inicio
        </a>
      </section>
    </article>
  </section>
</section>

<section id="config">
  <section class="container">
    <article class="row">
      <section class="col">
        <section class="col">
          <article class="card">
            <section class="card-header">
              <h4>Error</h4>
            </section>
            <section class="card-body">
              <fieldset class="form-group">
                <legend>No se encuentra el recurso solicitado.</legend>
                <section class="form-check">
                  <p>Por favor compruebe el link ingresado en el buscador.</p>
                </section>
              </fieldset>
            </section>
          </article>
        </section>
      </section>
    </article>
  </section>
</section>
